<div class="contents-wrap">
    <!-- メッセージの入力 -->
    <div class="message-wrap">
        <%= form_with model: @post, id: "message_form", onsubmit: "return hiraganacheck()" do |f| %>
            <%= f.text_area :message, :class => "textbox", :placeholder => "かいてみる？", :onblur => "return hiraganacheck()" %>

            <%= image_submit_tag("bottle_slh.png", id: "send") %>
            <!-- 送信前に確認したい場合 -->
            <!--<%= image_submit_tag("send.png", id: "send", data: { confirm: "メッセージを放流しますか？"}) %>-->
        <% end %>
    </div>

    <div class="error">
        <p>ひらがな　と　いちぶのきごう　だけ　にゅうりょく　してね</p>
    </div>

    <!-- 未読が存在する時ボトルの画像を表示 -->
    <div class="unread-icon" style="display:none;">
        <%= image_tag("new.png", :class => "unread-icon") %>
    </div>

    <!-- グレーアウト -->
    <div id="overlay"></div>

    <!-- 投稿一覧 -->
    <div class="post_all">
        <% @post_all.each do |post| %>
            <div class="message_item" data-message-id="<%= post.id %>">
                <p><%= post.id %>ばん <%= post.created_at.strftime("%Y-%m-%d") %></p>
                <%=  link_to "めっせーじをみる", "/home/message/#{post.id}" %>
            </div>
        <% end %>
    </div>
</div>
<div class="back-img">
    <%= image_tag("neko.png", :id => "cat") %>
</div>

<script>
    function hiraganacheck() {
        message = $("#message").val();
        if(message.match(/[^ぁ-ん０-９0-9ー〜！？!?^ \r　\n\ \s]+/ )){
            $("#message").css("box-shadow", "0px 0px 10px red");
            $(".error").fadeIn();
            return false;
        }else{
            $("#message").css("box-shadow","");
            $(".error").fadeOut();
            return true;
        }
    }
</script>
