<!-- 今まで受け取ったメッセージ -->
<div class="all-message">
    <% @message.each do |post| %>
        <div class="message">
            <p class="date"><%= post.created_at.strftime("%Y %m %d") %></p>
            <%= link_to "×", "/home/receives/#{post.id}", method: :delete, id: "delete", data: {"turbolinks" => false} %>
            <p class="message"><%= post.message %></p>
            <%= link_to post.message, "/home/message/#{post.id}", :id => "message_link", data: {"turbolinks" => false}%>

        </div>
    <% end %>
</div>

<div class="contents-wrap">
    <!-- メッセージの入力 -->

    <div class="message-wrap">
        <%= form_with model: @post, id: "message_form", onsubmit: "return hiraganacheck()" do |f| %>
            <%= f.text_area :message, :class => "textbox", :placeholder => "かいてみる？", :onblur => "return hiraganacheck()" %>
            <%= image_submit_tag("bottle_slh.png", id: "send") %>

            <!-- 送信前に確認したい場合 -->
            <!--<%= image_submit_tag("send.png", id: "send", data: { confirm: "めっせーじを おくりますか？"}) %>-->
        <% end %>
    </div>
    <!-- エラーメッセージ -->
    <div class="error">
        <p>ひらがなと いちぶの きごうだけ <br class="sp">にゅうりょく してね</p>
    </div>

    <!-- 全メッセージ表示・書き込みボタン -->
    <div class="icon-wrap">
        <div class="enquete-icon" style="margin-right: 30px;">
            <%= link_to image_tag("enquete.png", :class => "enquete-icon"), "https://docs.google.com/forms/d/1i33WE3LsdfbYl2DaBNZAdWAUL-rUFkQy2uNz6FdxfbM/edit?usp=sharing", target: "_blank" %>
        </div>

        <div class="bag-icon">
            <%= image_tag("bag.png", :class => "bag-icon") %>
        </div>

        <div class="write-icon">
            <%= image_tag("pencil.png", :class => "write-icon") %>
        </div>
    </div>

    <!-- 未読が存在する時アイコンを表示 -->
    <div class="unread-icon">
        <%= image_tag("new.png", :class => "unread-reply-icon") %>
        <%= image_tag("new.png", :class => "unread-icon") %>
    </div>
</div>

<!-- グレーアウト -->
<div id="overlay"></div>

<!-- 送信画面  -->
<div class="send-info">
    <p></p>
</div>


<div class="back-img">
    <%= image_tag("neko.png", :id => "cat") %>
</div>

<script>

function hiraganacheck() {
    message = $("#message").val();
    var ng = ['ばか'];//禁止ワード
    if(message.match(ng) !=null){
        //$("#message").css("box-shadow", "0px 0px 10px red");
        //$(".error").css('visibility', 'visible');
        alert('ふてきせつな　もじが　ふくまれています');
        return false;
    }
    if(message.match(/[^ぁ-ん０-９0-9ー〜！？!?、。「」^ \r　\n\ \s]+/ )){
        $("#message").css("box-shadow", "0px 0px 10px red");
        $(".error").css('visibility', 'visible');
        return false;
    }else{
        $("#message").css("box-shadow","");
        $(".error").css('visibility', 'hidden');
        return true;
    }
}

</script>
