<!-- メッセージ -->
<div class="message-view">
    <div class="message-wrap">
        <div class="text"><%= simple_format(@message.message) %></div>
    </div>

    <div class="message-wrap">
        <%= form_with model: @post, id: "message_form", onsubmit: "return hiraganacheck()" do |f| %>

            <%= f.text_area :message, :class => "textbox", :placeholder => "おへんじ かいてみる ？", :onblur => "return hiraganacheck()" %>
            <%= image_submit_tag("bottle_slh.png", id: "send") %>
            <!-- 送信前に確認したい場合 -->
            <!--<%= image_submit_tag("send.png", id: "send", data: { confirm: "メッセージを放流しますか？"}) %>-->
        <% end %>
    </div>
    <div class="icon-wrap">
        <div class="write-icon">
            <%= image_tag("pencil.png", :class => "write-icon") %>
        </div>
    </div>

    <div class="back">
        <%= link_to "もどる", :back, data: {"turbolinks" => false} %>
    </div>
</div>

<script>

    function hiraganacheck() {
        message = $("#message").val();
        if(message.match(/[^ぁ-ん０-９0-9ー〜！？!?、。「」^ \r　\n\ \s]+/ )){
            $("#message").css("box-shadow", "0px 0px 10px red");
            $(".error").fadeIn();
            return false;
        }

        else{
            $("#message").css("box-shadow","");
            $(".error").fadeOut();
            return true;
        }
    }
</script>
