<!DOCTYPE html>
<html>
  <head>
    <title>Bottle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー -->
    <header>
      <div class="header-logo">
        <a href="/">Bottle</a>
      </div>
      <div class="mypage">
      </div>
    </header>
    <%= yield %>
  </body>
</html>
