<!DOCTYPE html>
<html>
  <head>
    <title>ふろうとりっぷ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <!-- ヘッダー -->
    <header>
      <div class="header-logo">
        <a href="/"><%= image_tag("logo.png") %></a>
      </div>
      <div class="header-menu">
          <p>まいぺーじ</p>
          <p>あばうと</p>
          <p>はうとぅ</p>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
