<!DOCTYPE html>
<html>
  <head>
    <title>ふろうとりっぷ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <!-- ヘッダー -->
    <header>
      <div class="header-logo">
        <% if current_page?("/") || current_page?("/home/top") %>
          <a href="/"><%= image_tag("logo.png") %></a>
        <% else %>
          <a href="/home/main"><%= image_tag("logo.png") %></a>
        <% end %>
      </div>
      <div class="header-menu">
          <%=link_to "あばうと", "/home/about", :id => "about"%>
          <%=link_to "はうとぅ", "/home/howto", :id => "howto"%>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
