<!DOCTYPE html>
<html>
  <head>
    <title>ふろうとりっぷ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <!-- ヘッダー -->
    <header>
      <div class="header-logo">
        <% if current_page?("/") || current_page?("/home/top") %>
          <a href="/"><%= image_tag("logo.png") %></a>
        <% else %>
          <% unless user_signed_in? %>
            <a href="/"><%= image_tag("logo.png") %></a>
          <% else %>
            <a href="/home/main" data-turbolinks="false"><%= image_tag("logo.png") %></a>
          <% end %>
        <% end %>
      </div>
      <div class="header-menu">
          <%=link_to "あばうと", "/home/about", :id => "about"%>
          <%=link_to "はうとぅ", "/home/howto", :id => "howto"%>
      </div>
      <div class="navToggle">
          <span></span><span></span><span></span>
      </div>
      <nav class="globalMenuSp">
          <ul>
              <li><%=link_to "あばうと", "/home/about", :id => "about", data: {"turbolinks" => false}%></li>
              <li><%=link_to "はうとぅ", "/home/howto", :id => "howto", data: {"turbolinks" => false}%></li>
          </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
